.remove {
  background: crimson;
  color: white;
  border: none;
  padding: 3px 8px;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.remove:hover {
  background: darkred;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  input, select, button {
    width: 100%;
    margin: 6px 0;
  }
}
